<launch>

  <arg name="rviz" default="true" />


	<!-- Parameters -->
  <rosparam file="$(find eskf_lio)/config/feat.yaml" command="load" />
  <node pkg="eskf_lio" type="loam_feat_extract" name="feature_extract" output="screen"/>

  <node pkg="eskf_lio" type="loam_laserMapping" name="laserMapping" output="screen" required="true">
  <remap from="/livox/imu" to="/imu_correct"/>
  <param name="max_iteration" type="int" value="10" />
  <param name="dense_map_enable" type="bool" value="false" />
  <param name="filter_size_surf" type="double" value="0.5" />
  <param name="filter_size_map" type="double" value="0.5" />
  <param name="cube_side_length" type="double" value="1000" />
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find eskf_lio)/rviz_cfg/loam_livox.rviz" />
  </group>

</launch>
